body{
	background: url(../img/books.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{
	font-family: sans-serif;
	color: white;
	text-shadow: 0 0 3px #00ff80;
}
.container{
	text-align: center;
	width: 600px;
	height: 600px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 4px;
}
input{
	text-align: center;
	width: 320px;
	height: 40px;
	font-size: 14px;
	font-family: sans-serif;
	color: white;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	box-shadow: inset 0px -5px 45px rgba(100, 100, 100, 0.2), 0px 1px 1px rgba(255, 255, 255, 0.2);
	outline: none;
}
button{
	width: 100px;
	height: 40px;
	background: #00ff80;
	font-size: 18px;
	color: white;
	font-family: arial;
	text-align: center;
	border-radius: 10px;
	line-height: 20px
}
foot{
	text-align:center;
}
h2{
    color: white;
    text-align:center;
	text-shadow: 0 0 3px #00ff80;
}

